<div class="row">
  <div class="col-12">
    <h1>{{ headline }}</h1>
    <h2>{{ subhead }}</h2>

    {{#if kicker}}
      <p class="alert alert-warning">{{{ kicker }}}</p>
    {{/if}}
  </div>
</div>
