<style>
.key_2 {
    position: absolute;
    top: 73%;
    right: 75%;
}
</style>

<h3>But How Often is the Cook Report Correct?</h3>
<p>I looked at data from the <a href="https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/IG0UN2">MIT Election and Data Lab</a> to find the winners of U.S. House races from 2010 to 2018 by district. I then compared the election results to Cook's ratings over the same time period. 
</p>
<p>Cook ratings that were likely Democrat, lean Democrat and toss-up Democrat were marked "accurate" if a Democrat won that district. I applied the same method for Republicans. In 2010, 2012 and 2014, Cook was correct around three-quarters of the time. In 2016, that number spiked to 86%, but in 2018, Cook was only right 55% of the time. </p>
 

<img class='key_2' src="assets/cook_accuracy_key.png">

<div id="chart-2"></div>

<script type="text/javascript" src="scripts/portfolio_2/chart_2.js"></script>