<style>
.key_1 {
    position: absolute;
    top: 22%;
    right: 32%;
}
</style>

<h3>Cook Political Report Rankings of U.S. House Races</h3>
<p>Cook Political Report is a non-partisan organization that analyzes U.S. political campaigns. The Cook Report was founded in 1984 by Charlie Cook, a former Capitol Hill staffer, campaign consultant, pollster and political action committee staff member.
</p>
<p>Cook ranks races on three categories: likely, lean and toss-up. Likely seats are not considered to be competitive, but have the potential to become so. Lean seats are considered competitive but one party holds the advantage. Toss-ups are the most competitive, with the potential to go to either party.
</p>
<img class='key_1' src="assets/cook_rating_key-01.png">
<div id="chart-1"></div>


<script type="text/javascript" src="scripts/portfolio_2/chart_1.js"></script>